.introduction {
  align-items: center;
}

.introduction-txt {
  padding-left: 40px;
}

.introduction-txt h1 {
  font-size: 4.5rem;
  line-height: 1.125;

  margin-bottom: 20px;

  position: relative;
}

.introduction-txt h1::before {
  content: "";
  display: block;

  width: 120px;
  height: 100px;

  background: url(../img/detalhe.svg) no-repeat center;

  position: absolute;
  top: -15px;
  left: -30px;

  z-index: -1;
}

.introduction-txt p {
  font-size: 1.4rem;
}


@media (max-width:1000px) {
  .introduction-txt h1 {
    font-size: 3.7rem;
  }


  .introduction-txt {
    padding-left: 20px;
  }
}

@media (max-width:800px) {
  .introduction-txt h1 {
    font-size: 3.2rem;
  }

  .introduction {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:650px) {
  .introduction-txt h1 {
    font-size: 2.5rem;
  }

  .introduction-txt p {
    font-size: 1.3rem;
  }


  .introduction-txt {
    padding-left: 0;
  }
}



@media (max-width:500px) {
  .introduction h1 {
    font-size: 3rem;
  }

  .introduction-txt {
    padding-left: 40px;
  }

  .introduction img {
    display: none;
  }
}